.experienceWrapper{
    font-family: "Songti SC", serif;
}

.experienceItem {

}

.jobInfoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*jobinfo字体,排印设置*/
.jobInfoContainer h2 {
    flex: 1;
    margin: 0.5rem 0;
}
.jobInfoContainer > div {

}

.jobInfoContainer h3 {
    width: 100%;
    margin: 0;
    font-size: 1rem;
}

.descriptionContainer {
    padding: 0.5rem;
}

.descriptionContainer ul {
    padding-left: 1.25rem;
}

.editableContent {
    transition: color 0.3s;
}
.editableContent:hover {
    color: #888;
}
